.hotgallery-hotsearch{
	background-color: #fff;	
	float: right;
	margin-top: -310px;
	padding: 10px;
	height: 290px;
	overflow: hidden;
}

.hotgallery-hotsearch select{
	background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    height: 30px;
}

.submit-button{
	padding: 2px;
}

.submit-button:hover{
	padding: 4px;
	cursor: pointer;
}